# Node modules
/node_modules/



# Electron log files
*.log

# Electron & VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# npm-debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled JavaScript files (if using TypeScript)
/src/**/*.js

# Ignore virtual environment directory
/python-env/venv/
