/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Virgil', sans-serif;
}

/* Folder breadcrumb */
.folder-breadcrumb {
  font-size: 10px;
  color: #333;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@font-face {
  font-family: 'Virgil';
  src: url('../../../assets/fonts/Virgil-Regular.woff2') format('woff2');
}

.hand-drawn-text, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Virgil', sans-serif;
}

/* Text Editor */
.texteditor {
  outline: none;
  padding: 10px;
  width: 100%;
  height: 500px;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 10px;
  resize: none;
}

.texteditor:focus {
  border-color: #007bff;
}

/* Back Button */
.back-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
  cursor: pointer;
}

.back-button img {
  width: 35px;
}

/* Container for columns */
.lumachat-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 100vh;
  gap: 0px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.column-left, .column-middle, .column-right {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  height: 100%;
}



/* Chat Box */
.luma-box-chat {
  margin-top: 20px;
  font-family: 'Virgil', sans-serif;
  flex-grow: 1;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  height: 90vh;
  position: relative;
  overflow-y: auto;
}

.chat-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.luma-box-chat-input {
  width: 85%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.send-message-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
  width: 10%;
}

.send-message-button img {
  width: 40px;
}

.box-luma-conversation {
  position: relative;
  width: 100%;
  height: 73vh;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.user-message {
  background-color: #d1f7c4;
  text-align: right;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}

.ai-message {
  background-color: #f1f1f1;
  text-align: left;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}

#chat-conversation {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
} 

/* Notes Box */
.notes-box-chat {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 85vh;
  margin-top: 20px;
}

.column-left-notes {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

#notes-list {
  list-style-type: none;
  padding-left: 0;
}

#notes-list li {
  margin: 5px 0;
  cursor: pointer;
}

#add-note-button {
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#add-note-button:hover {
  background-color: #0056b3;
}

.column-right-notes {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  height: 100%;
}

#note-editor {
  width: 100%;
  height: 70%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  resize: none;
}

/* File Explorer */
#fileExplorer {
  font-family: Arial, sans-serif;
}

.file, .folder {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  width: 50vh;
}

.file {
  background-color: #d1e7ff;
}

.file:hover {
  background-color: #a7c6ff;
}

.folder {
  background-color: #e7f0d1;
}

.folder:hover {
  background-color: #d0e0b2;
}

.folder, .file {
  display: flex;
  align-items: center;
}

.folder .folder-icon, .file .file-icon {
  margin-right: 8px;
}

#chooseFolderBtn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

#chooseFolderBtn:hover {
  background-color: #0056b3;
}

/* Dropdown for folder contents */
.folder-contents {
  display: none;
  margin-left: 20px;
}

.folder.open .folder-contents {
  display: block;
}

#fileExplorer > div {
  font-weight: bold;
  margin-bottom: 10px;
}

#contextMenu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 5px;
  width: 150px;
  padding: 5px 0;
}

#contextMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#contextMenu li {
  padding: 8px 12px;
  cursor: pointer;
}

#contextMenu li:hover {
  background-color: #f0f0f0;
  color: #007bff;
}

/* Responsive Design */
@media (max-width: 700px) {
  .lumachat-container {
    flex-direction: column;
    height: auto;
  }

  .column-left, .column-middle, .column-right {
    width: 100%;
    height: auto;
  }

  .box-luma-conversation {
    width: 100%;
    height: 300px;
  }

  .luma-box-chat {
    height: auto;
    padding: 10px;
  }

  .notes-box-chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
  }

  .column-left-notes, .column-right-notes {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .lumachat-container {
    flex-direction: row;
  }

  .column-left, .column-middle, .column-right {
    height: auto;
    min-width: 50vh;
  }

  .box-luma-conversation {
    width: 90%;
    margin-left: 10px;
  }

  .luma-box-chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
  }

  .column-left-notes, .column-right-notes {
    width: 100%;
    margin-bottom: 10px;
  }
}
